*.__i
*JLinkLog.txt
*uvgui*
*.TMP
*.axf
*.bak
*.bin
*.crf
*.d
*.dbgconf
*.dep
*.hex
*.htm
*.hsc
*.iex
*.ini
*.lnk
*.lnp
*.lst
*.map
*.o
*.obj
*.sct
*.scvd
*.tmp
*.uvguix.*
*.uvopt
*.uvoptx
~*
.vscode/
.vscode/tags
